<!DOCTYPE html>
<html>
<head>
  <title>Friends</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Friends</a>
<ul class="nav navbar-nav navbar-right">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menus <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">aaaa</a></li>
      <li class="divider"></li>
      <li><a href="#">bbbb</a></li>
      <li class="divider"></li>
      <li><a href="#">cccc</a></li>
      <li class="divider"></li>
      <li><a href="#">dddd</a></li>
    </ul>
  </li>
</ul>

    </div>
  </div>
</nav>

<%= yield %>

</body>
</html>
